.App {
  background-color: #F9F9F9 !important;
  text-align: center;
}


.App-header {
  background: url(https://res.cloudinary.com/kaladin9017/image/upload/v1495239017/imageedit_1_9281642306_xmvjlg.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: white;
  height: 30vh;
}
